:root {
    --base-easing: cubic-bezier(0.5, 0, 0.5, 1);
    --base-duration: 400ms;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    transition-timing-function: var(--base-easing);
    transition-duration: var(--base-duration);
  }
  
  html {
    font-size: 10px;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  body {
    height: 100vh;
    background: #fff url("https://assets.codepen.io/6791/clip-slider-bg.jpg") no-repeat center center / cover;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: black;
  }
  
  .container {
    padding: 70px 5% 0;
  }
  
  .swiper-wrapper {
    transition-timing-function: cubic-bezier(0.85, 0.12, 0.25, 1);
    transition-duration: 700ms;
  }
  
  .slide {
    display: grid;
    grid-template: 1fr / 1fr 4fr 1fr;
    overflow: hidden;
  }
  
  .slide__title {
    position: relative;
    font-size: 17vw;
    color: white;
    grid-row: 1;
    grid-column: 1 / -1;
    color: white;
    transform: translateX(100%);
    transition-property: transform, opacity;
    transition-delay: 1s, 0s;
    transition-duration: 200ms, 1s;
    transition-timing-function: var(--base-easing), ease-out;
    opacity: 0;
    will-change: transform opacity;
    z-index: -1;
    
    &.outline {
      position: relative;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px white;
      z-index: 2;
    }
  }
  
  .slide__image-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 63.636363636%;
    grid-column: 2 / 2;
    grid-row: 1;
    overflow: hidden;
  }
  
  .slide__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1.1);
    transition-property: transform;
    transition-delay: 1s;
  }
  
  

  .swiper-slide-active {
    .slide__title {
      opacity: 1;
      transform: translateX(0);
      transition-property: transform, opacity;
      transition-duration: 800ms, 500ms;
      transition-delay: 800ms, 0s;
    }
    
    .slide__image {
      transform: scale(1);
      transition-property: transform;
      transition-delay: 500ms;
      
    }
  }
  
  .slider__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem
  }
  
  .slider__control {
    appearance: none;
    border: 0;
    background: none;
    cursor: pointer;
  }
  
  .slider__next {
    .progress {
      stroke-dasharray: 220;
      stroke-dashoffset: 220px;
      &.play {
       animation: slider-progress 5s linear forwards; 
      }
    }
    
    @keyframes slider-progress {
      from {
        stroke-dashoffset: 220px;
      }
      to {
        stroke-dashoffset: 0px;
      }
    }
  }
  
  
  // Disabled Button State
  .swiper-button-disabled {
    opacity: 0.4;
  }